.form {
    width: 50%;
    position: relative;
    float: right;
    margin-right: 10%;
}

.maps {
    margin-left: 190px;
}

.infoForUs {
    float: right;
    margin-right: 20px;
    text-align: center;
}

.infoFotos {
    width: 200px;
    margin: 30px;
}

#head {
    text-align: center;
}

#links {
    margin-left: 758px;
}

#linksAU {
    margin-left: 740px;
}

#carouselExampleCaptions{
    width: 50%;
    justify-content: center;
}